+b.SECTION.hero
  .container
    +e.inner
      +e.img
        +picture('header--full', 'blog-img', 'jpg')
      +e.H1.title A few words about this blog platform, Ghost, and how this site was made
      +e.P.text Why Ghost (& Figma) instead of Medium, WordPress or other options?
