extends ../layout/layout
include ../../blocks/article/article

block variables
  - var pageTitle = 'blog'

block content
  include ../../blocks/header/header
  main.main

  include ../../blocks/footer/footer
